<%= javascript_include_tag('index') %>
<div id="main-container" class="container">
  <%= link_to '[about]', home_about_path, class: 'about-link' %>
  <%= form_tag({controller: "home", action: "manipulate", method: "post"}, { class: 'form' }) do %>
    <div class="container">
        <% if @user_texts.any? %>
          <%= select_tag :saved_text, options_for_select(@user_texts), prompt: 'Use My Text?', class: ['text-select'] %>
        <% end %>
        <div class="container">
          <%= render 'textbox' %>
        </div>
    </div>
    <div class="container">
        <div class="added-actions">
        </div>
    </div>
    <div class="actions-container">
        <%= select_tag :method, options_for_select(@procedures), prompt: 'Choose a manipulation', class: ['action-select'] %>
        <button type="button" class="add-action-btn">Add Manipulation</button>
    </div>
    <div class="container">
        <%= submit_tag("Manipulate Text", :class => ['submit-btn']) %>
      </div>
  <% end %>
</div>
