<%= javascript_include_tag('index') %>
<div id ="main-container" class="container">
  <%= form_tag(controller: "home", action: "manipulate", method: "post") do %>
    <div class="row">
      <div class="col-xs-5">
        <% if @user_texts.any? %>
          <%= select_tag :saved_text, options_for_select(@user_texts), prompt: 'Use My Text?', class: ['text-select'] %>
        <% end %>
        <%= render 'textbox' %>
      </div>
      <div class="col-xs-7">
        <div class="instructions-text">
          <span>1. Add some text to start with</span><br>
          <span>2. Choose a manipulation procedure and click 'Add Manipulation'</span><br>
          <span>3. (You can add as many procedures as you like)</span><br>
          <span>4. (Some manipulations require a secondary text: Splicers, Swappers, Replacers)</span><br>
          <span>5. When done, click 'Manipulate Text'</span><br>
          <span>6. (The word class tagger isn't very good at verbs)</span><br>
          <span>7. (Feel free to email me if you have any questions or suggestions: kan.gregory@gmail.com)</span><br>
          <span>8. (No data is collected on/through this app)</span><br>
          <span>9. (The full source can be found here: https://github.com/gregorykan/glass_leaves)</span><br>
          <span>10. (29-Aug-2016 Update: Added Verb and Noun Shufflers)</span><br>
          <span>11. (26-Sep-2016 Update: Added Lowercasifier, Uppercasifier and Punctuation Stripper)</span><br>
          <span>12. (24-Dec-2016 Update: Results are rendered in the textbox)</span><br>
          <span>13. (24-Dec-2016 Update: Added Download function)</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="added-actions">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <%= select_tag :method, options_for_select(@procedures), prompt: 'Choose a manipulation', class: ['action-select'] %>
        <button type="button" class="add-action-btn">Add Manipulation</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <%= submit_tag("Manipulate Text", :class => ['submit-btn']) %>
      </div>
    </div>
  <% end %>
</div>
