<%= javascript_include_tag('index') %>
<div id ="main-container" class="container">
  <%= form_tag(controller: "home", action: "manipulate", method: "post") do %>
    <div class="row">
      <div class="col-xs-5">
        <% if @user_texts.any? %>
          <%= select_tag :saved_text, options_for_select(@user_texts), prompt: 'Use My Text?', class: ['text-select'] %>
        <% end %>
        <%= render 'textbox' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="added-actions">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <%= select_tag :method, options_for_select(@procedures), prompt: 'Choose a manipulation', class: ['action-select'] %>
        <button type="button" class="add-action-btn">Add Manipulation</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <%= submit_tag("Manipulate Text", :class => ['submit-btn']) %>
      </div>
    </div>
  <% end %>
</div>
