<!DOCTYPE html>
<html>
<head>
  <title>glass.leaves: text manipulator and generator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="description" content="glass.leaves is a tool that allows you to manipulate and generate any amount of text with an array of procedures: randomization, word swapping, Markov chain generation, word and sentence splicing, etc.">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <span class="notice"><%= flash[:notice] %></span>
      <br>
    <% end %>
    <% if flash[:alert] %>
      <span class="alert"><%= flash[:alert] %></span>
      <br>
    <% end %>
    <% if user_signed_in? %>
      <span><%= link_to 'Account Settings', edit_user_registration_path %> | </span>
      <span><%= link_to 'My Texts', texts_path %> | </span>
      <span><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></span>
    <% end %>
    <h1 class="page-header"><%= link_to 'glass.leaves', root_path %></h1>
    <%= yield %>
  </div>

</body>
</html>
